div {
height:13rem; width:50%;
}
.wrapper {width: 100%;
max-width:80rem;
border-width:0.1875rem;
border-style: solid;
margin: 0 auto;
box-sizing:border-box;
padding:5rem;
background-color: #CEC9B6;
border-color: #D8D4C3;
box-shadow:0.625rem 0.625rem rgba(58,89,87,0.5);
}
.image_frame {
box-sizing:border-box;
padding:0.85rem;
border-width:0.2rem;
border-style: solid;
background-color: #CEC9B6;
border-color: #D8D4C3;	
}
body{
	
	margin:0;
	background-color: #EOFFFF;
	color: #3A3F3F;
	font-family: Raleway, Tahoma,Verdana,Segoe,sans-serif;
	font-size: 1.125rem;
	font-weight: 450;
    line-height: 1.618;
}



h1{font-weight: 900;font-size:3.3rem; 
line-height: 1.35; 
margin:0.8em 0;}

h2{font-weight: 800; font-size: 2.3rem;
	line-height: 1.45;
	margin:1em 0;}
h3{font-weight: 700; font-size: 1.85rem;
	line-height: 1.6;
margin:1.3em 0; }
h4{font-weight: 700; font-size: 1.55rem;
	line-height: 1.7;
 margin:1.5em 0; }
h5{font-weight: 600;font-size: 1.4rem; 
	line-height: 1.6;
 margin:1.6em 0; }
h6{font-weight: 500;font-size:1.25rem; 
line-height: 1.6;
	margin:1.6em 0;}